body{
  background-color: aquamarine;
  margin: 0px;
}

.placar{
  
    padding: 40px 40px;
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.placar h1{
  text-align: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
  width: 400px;
  height: 50px;
  display: inline-block;
}

#p1{
    background-color: magenta;
}

#p2{
    background-color: teal;
}

section h3{
  text-align: center;
  top: -100px;
  position: relative;
  font-size: 100px;
}
.reset{
  position: relative;
  top: 100px;
  width: 100px;
  height: 50px;
  background-color: rgb(163, 163, 238);
  cursor: pointer;
}

.butao1{
  font-size: 50px;
  background: powderblue;
  position: relative;
  left: 160px;
  cursor: pointer;
}

.butao2{
  font-size: 50px;
  background: powderblue;
  position: relative;
  left: 160px;
  cursor: pointer;
}
